*{
    margin 0;
    padding 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.wrapper{
    margin: 150px auto;
    width: 70%;
}
img{
    max-width: 320px;
    float: left;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 15px;
}
.text-box{
    color: white;
}
.text-box h2{
    font-size: 42px;
}
.text-box p{
    font-size: 16px;
}
p{
    color: white;
    font-family: cursive;
    font-weight: 500;
}
h2{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    /* font-weight: ; */
}
body{
    background-color:#FAC793;
}